<!-- START about -->
<section class="about">
	<div class="container">
		<div class="about-container">
			<div class="animatedParent animateOnce" data-sequence="200" data-appear-top-offset="-200">
				<div class="about-content animated fadeInUpShort" data-id="1">
					<div class="about-picture"></div>
					<h2>About</h2>

					<p>Born & raised in <a href="https://www.facebook.com/TheBellTowerTimes/" target="_blank">Perth</a> (Australia) and now calling Sweden home.</p>

					<p>You can usually find me strumming the riff stick in <a href="https://www.facebook.com/theothershc" target="_blank">The Others</a>, co-running <a href="https://www.facebook.com/shamanrecordsperth" target="_blank">Shaman Records</a>, crate digging, <a href="http://thoughtvacation.tumblr.com/" target="_blank">shooting film</a> and travelling.</p>

					<p>Feel free to <a href="mailto:matthew.yan.ng@gmail.com">get in touch</a> if you'd like to know more.</p>
					<a href="/cv" class="btn-primary">View my CV</a>	
				</div>
			</div>

			<div class="skills-content animatedParent animateOnce" data-sequence="200" data-appear-top-offset="-50">
				<div class="skill lang animated fadeInUpShort" data-id="1">
					<h5>Languages</h5>
					<ul>
					    <% data.skills.lang.each do |lang| %>
					    	<li><%= lang %></li>
					    <% end %>					
					</ul>
				</div>

				<div class="skill applicaitons animated fadeInUpShort" data-id="2">
					<h5>Applications</h5>
					<ul>
					    <% data.skills.software.each do |software| %>
					    	<li><%= software %></li>
					    <% end %>	
					</ul>			
				</div>

				<div class="skill tools animated fadeInUpShort" data-id="3">
					<h5>Tools</h5>
					<ul>
					    <% data.skills.tools.each do |tools| %>
					    	<li><%= tools %></li>
					    <% end %>					
					</ul>	
				</div>
			</div>

		</div>

	</div>
</section>
<!-- END about -->