<!-- START footer -->
<footer>
	<div class="footer-container">
		<p>@ 2015 Matthew Ng - Header image by Matthew Ng</p>
		<ul>
			<li><a href="https://github.com/matthew-ng" target="_blank">Github</a></li>
			<li><a href="https://www.linkedin.com/in/matthewyanng" target="_blank">LinkedIn</a></li>
		</ul>
	</div>
</footer>
<!-- END footer -->