<!-- START footer -->
<footer>
	<div class="footer-container">
		<p>Built with <a href="https://middlemanapp.com/" target="_blank">Middleman</a></p>
		<ul>
			<li><a href="https://github.com/matthew-ng/matthew-ng.github.io" target="_blank">View source</a></li>
			<li><a href="https://www.linkedin.com/in/matthewyanng" target="_blank">LinkedIn</a></li>
		</ul>
	</div>
</footer>
<!-- END footer -->