<!-- START header -->
<header>
	<div class="container">
		<div class="content-about">
			<h1>Matthew Ng<br />Front-End Developer</h1>
			<h2>Currently based in Sweden</h2>
			<div class="btn-primary view-work">View work</div>
		</div>

	</div>
</header>
<!-- END header -->