<!-- START modal -->
<div class="remodal rac" data-remodal-id="modal" role="dialog" aria-labelledby="myRAC" aria-describedby="myRAC details">
    <button data-remodal-action="close" class="remodal-close rac" aria-label="Close"></button>
    <div class="container-modal">
        <h2>myRAC</h2>
        <p>
           Working in collaboration with an external consultancy, I developed front end templates for Sitecore CMS integration from functional specifications and Photoshop designs.
       </p>
       <p>
            <strong>My role</strong>: Front-End development utilising Middleman, HTML5, CSS3, SASS and Javascript/jQuery within an agile environment. Repository management through Bitbucket and Sourcetree 
        </p>
        <img src="assets/img/rac-full2.jpg" alt="myRAC" />
    </div>
</div>
<!-- END modal -->