<!-- START work -->
<section class="work">
	<ul class="work-wrapper">
		<li class="work-rac">
			<div class="container animatedParent animateOnce" data-sequence="200" data-appear-top-offset="-200">	

		 		<div class="img-crop rac-screens animated fadeInLeftShort" data-id="1"></div>

		 		<div class="column-right animated fadeInUpShort" data-id="2">
					<h2>myRAC</h2>
					<p>A fully responsive self-service platform for RAC members to manage their membership details and access member benefits.</p>
					<a href="#" data-remodal-target="modal" class="btn-primary">Read more</a>		
				</div>

			</div>
		</li>
	</ul>
</section>
<!-- END work -->