/* ==========================================================================
   Header
   ========================================================================== */
.index header {
	@include display-flex;
	@include align-items(center);
  	@include justify-content(center);
	width: 100%;
	height: 100vh;
	color: $white;
	text-align: center;
    background: url(../img/header-bg.jpg) no-repeat 70%;
	background-size: cover;
	background-attachment: fixed;
	@include clearfix;

	@include bp(phone) {
		background-attachment: scroll; //iOS fix
	}

	.container .content-about {
		margin: 0 auto;
		width: 90%;
		@include bp(phone) {
			width: 100%;
		}		
	}

	h1 {
		margin-bottom: 15px;
		letter-spacing: 1px;
		@include font-size(70);
		line-height: 80px;
		
		@include bp(phone) {
			@include font-size(36);
			line-height: 46px;
		}
	}

	p {
		font-family: 'Catamaran', 'Helvetica Neue', Arial, sans-serif;
		@include font-size(20);
		font-weight: 100;
		opacity: 0.5;
	}

	.btn-primary {
		margin-top: 30px;
	}

}

.btn-more {
	position: absolute;
	bottom: 20px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	@include border-radius(50px);
	background: $gray-dark;
	cursor: pointer;
	@include transition-duration(250ms);

	&:hover {
		background: $gray-light;
	}

	.arrow {
		position: absolute;
		top: 10px;
		left: 15px;
	    display: block;	
		height: 20px;
	    width: 20px;
	    border-bottom: 1px solid $white;
	    border-right: 1px solid $white;
	    transform: rotate(45deg);
	}	
}